body {
    background-color: dodgerblue;
    display: flex; 
    flex-direction: column;
    align-items: center;
}
nav{
    
    justify-content: flex-start;
}

section {
    justify-content: center;
    align-items: column;
}